*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

body{
    font-family: 'Georama', sans-serif;
}

:root {
    --brand-color: #bc6e44;
    --main-text-color: #2a2824;
    --sub-text-color: #837d71;
    --section-background-color: #faf8f2;
}

.header-theme {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-theme_title {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 1.5px;
}

.header-theme_subtitle {
    font-size: 38px;
    font-size: 500;
    line-height: 42px;
    margin-top: 10px;
}

.header-theme_describtion {
    font-size: 17px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 20px;
}

.divider{
    height: 2px;
    width: 15%;
    background-color: rgba(84, 78, 76, 0.18);
    font-weight: 400;
}