*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

:root {
    --brand-color: #bc6e44;
    --main-text-color: #2a2824;
    --sub-text-color: #837d71;
    --section-background-color: #faf8f2;
    font-family: 'Spectral', serif;
}