.nav-logo-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-logo-holder > div {
    margin: 50px;
}

.navbar-nav{
    justify-content: space-around;
    text-align: center;
}


.navbar-brand-logo{
    width: 80px;
}

.nav-link.logo {
    width: 40px;
}


@media (min-width: 990px){
    .nav-logo-holder {
        display: flex;
        flex-direction: row;
    }
}