.treatments__procedure-describtion{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.card.mb-3{
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.row.g-0{
    padding: 10%;
}


@media (min-width: 770px) {
    .card.mb-3{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 990px) {
    .card.mb-3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}