.contacts{
    background-image: url("../img/contacts-background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 500px;
    justify-content: space-around;
    padding-top: 50px;
}

.contacts__container{
    background-color: white;
    width: 35%;
    margin-left: 7%;
    text-align: center;
}

.header-theme__logo-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-theme__logo-holder > div {
    margin: 50px;
}

.logo-holder__logo{
    padding: 20px;
    width: 85px;
}


@media (min-width: 770px) {
    .header-theme__logo-holder{
        flex-direction: row;
    }
}