.welcome {
    background-image: url("../img/welcome-background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 500px;
    justify-content: space-around;
    padding-top: 50px;
}

.welcome__content.content{
    padding-left: 5%;
}


.content__title{
    font-size: 82px;
    font-weight: bold;
}

.content__sub-title{
    font-size: 13px;
}