<section class="about-me">
    <div class="container">
        <div class="about-me__img">
            <img src="img/about-me.png" alt="About me image">
        </div>
        <div class="about-me__information">
            <header class="header-theme">
                <h2 class="header-theme_title">ABOUT ME</h2>
                <p header-theme_subtitle>Hi, I am Irene Varma</p>
                <div class="header-theme_divider divider"></div>
                <p header-theme_describtion>I'm happy to welcome every woman and man at my clinic in New York opened in 2022</p>
                <p>I am a board-certified cosmetic dermatologist with more than 10 years of experience in private dermatology practice, which is highly sought-out by celebrities as well as other people. My expertise is regularly featured in magazines, online, and on television. I specialize in keeping women's skin natural-looking and healthy using the most up-to-date cosmetic treatments and technologies.</p>
            </header>  
        </div>
    </div>
</section>