<section id="contact_section" class="contacts">
    <header class="header-theme contacts__header-theme">
        <h2 class="header-theme_title">CONTACT ME</h2>
        <p header-theme_subtitle>Write me directly in any social media below</p>
        <div class="header-theme_divider divider"></div>
        <div class="header-theme__logo-holder">
            <a href="https://www.facebook.com/">
                <img class="logo-holder__logo" src="img/logos/facebook-logo.svg" alt="Facebook logo">
            </a>
            <a href="https://www.instagram.com/">
                <img class="logo-holder__logo" src="img/logos/instagram-logo.svg" alt="Instagram logo">
            </a>
        </div>
    </header>  
</section>