<section class="treatments">
    <header class="header-theme">
        <h2 class="header-theme_title">TREATMENTS</h2>
        <p header-theme_subtitle>What I Can Offer to You</p>
        <div class="header-theme_divider divider"></div>
        <p header-theme_describtion>I use the latest approaches to enhance my patients' natural features. I specialize in the following cosmetic treatments:</p>
    </header>

    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="img/treatments/biorevitalization.png" class="img-fluid rounded-start" alt="Elos epilation">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Biorevitalization</h5>
              <p class="card-text">Biorevitalization is an innovative biological way to fight skin aging and a variety of skin aesthetic concerns successfully returning your skin to life. It is a totally safe and effective procedure.</p>
            </div>
          </div>
        </div>
        <div class="row g-0">
          <div class="col-md-4">
            <img src="img/treatments/face-lifting.png" class="img-fluid rounded-start" alt="Face lifting">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Face lifting</h5>
              <p class="card-text">Get a durable skin quality enhancement due to face lifting and contouring. It is a non-surgical procedure which stimulates the formation of your own collagen.</p>
            </div>
          </div>
        </div>
        <div class="row g-0">
          <div class="col-md-4">
            <img src="img/treatments/injection-cosmetology.png" class="img-fluid rounded-start" alt="Injection cosmetology">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Injection cosmetology</h5>
              <p class="card-text">If you are not ready for surgical treatment yet want to get rid of aging signs, injection cosmetology is a perfect alternative. It is a fast and relatively painless procedure.</p>
            </div>
          </div>
        </div>
        <div class="row g-0">
          <div class="col-md-4">
            <img src="img/treatments/laser-treatment.png" class="img-fluid rounded-start" alt="Laser treatment">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Laser treatment</h5>
              <p class="card-text">Laser treatments will help you resurface your skin, remove wrinkles and acne scars, and regenerate collagen growth, creating a beautiful glowing skin for many years.</p>
            </div>
          </div>
        </div>
      </div>


    <div class="treatments__procedure-describtion procedure-describtion">
        <div class="procedure-describtion__item">
            <h3 class="procedure-describtion__item__title">Natural Products & Serums</h3>
            <p class="procedure-describtion__item__subtitle">Only the best products on the market</p>
        </div>
        <div class="procedure-describtion__item">
            <h3 class="">100% Safety</h3>
            <p class="procedure-describtion__item__subtitle">Disposable instruments and disinfection</p>
        </div>
        <div class="procedure-describtion__item">
            <h3 class="procedure-describtion__item__title">Modern Equipment</h3>
            <p class="procedure-describtion__item__subtitle">I use the latest technologies</p>
        </div>
    </div>

</section>