<section id="contact_section" class="contacts">
    <div class="contacts__container">
        <!-- <h2 class="header-theme_title">CONSULTATION</h2>
        <p header-theme_subtitle>Request a Free Consultation</p>
        <form action="https://formspree.io/f/xyyqpjdl" method="post">
            <div class="form_holder">
                <input class="form__element" type="text" placeholder="Enter your full name*:" name="name">
                <input class="form__element" type="text" placeholder="Enter your phone number*:" name="phone">
                <input class="form__element" type="submit" value="Request a Call"></input>
            </div>
        </form> -->
    </div>        
</section>