<section class="contacts">
    <div class="contacts__container">
        <h2 class="header-theme_title">CONSULTATION</h2>
        <p header-theme_subtitle>Request a Free Consultation</p>
        <form action="https://formspree.io/f/xyyqpjdl" method="post">
            <input type="text" placeholder="Enter your full name*:" name="name">
            <input type="text" placeholder="Enter your phone number*:" name="phone">
            <input type="submit" value="Request a Call"></input>
        </form>
    </div>        
</section>