<header class="header" background-color: 000000;">
    <nav class="header__nav">
        <div class="header__logo-container">
            <!-- <img class="header__logo-image"> logo!!!
            </img> -->
        </div>
        
        <ul>
            <li>
                <a href="#">About us</a>
            </li>
            <li>
                <a href="#">About us</a>
            </li>
            <li>
                <a href="#">About us</a>
            </li>
        </ul>

        <ul>
            <li>
                <a href="#">
                    <svg width="20" heigh="20"></svg>
                </a>
            </li>
        </ul>

    </nav>

    <div>

        <h1>Riga</h1>

        <div class="divider"></div>

        <p>Welcome</p>

        <div>
            <a href="#" class="button">Learn more</a>
            <a href="#" class="button">Learn more</a>
        </div>        
    </div>

</header>