<section class="new-arrivals">

    <header class="new-arrivals-heading">
        <h2 class="new-arrivals__title">New Arrivals<span class="highlighted-text">.</span></h2>

        <div class="divider"></div>
        <p class="new-arrivals-text">Some text</p>
    
        <a href="#" class="new-arrivals__button button">New arrivals</a>
    
    </header>
    
    <div class="new-arrivals__carousel carousel">
        <button class="carousel__prev">prev</button>
        
        <div class="carousel__slides">
            <article class="carousel__slide">
                
                <!-- <img></img> -->
                <h3 class="carousel__slide-title">BUY</h3>
            </article>
        </div>
        
        <button class="carousel__next">next</button>
    </div>

</section>