<section id="treatments_section" class="treatments">
    <header class="header-theme">
        <h2 class="header-theme_title">TREATMENTS</h2>
        <p header-theme_subtitle>What I Can Offer to You</p>
        <div class="header-theme_divider divider"></div>
        <p header-theme_description>I use the latest approaches to enhance my patients' natural features. I specialize in the following cosmetic treatments:</p>
    </header>

    <div class="treatments__carousel container">
      <button class="arrow-slider left">&lt;</button>
      <div>
          <div class="treatments__carousel-slide">
              
          </div>
          <div class="treatments__carousel-indicators">
              
          </div>
      </div>
      <button class="arrow-slider right">&gt;</button>
    </div>

    <div class="treatments__procedure-description procedure-description">
        <div class="procedure-description__item">
            <h3 class="procedure-description__item__title">Natural Products & Serums</h3>
            <p class="procedure-description__item__subtitle">Only the best products on the market</p>
        </div>
        <div class="procedure-description__item">
            <h3 class="">100% Safety</h3>
            <p class="procedure-description__item__subtitle">Disposable instruments and disinfection</p>
        </div>
        <div class="procedure-description__item">
            <h3 class="procedure-description__item__title">Modern Equipment</h3>
            <p class="procedure-description__item__subtitle">I use the latest technologies</p>
        </div>
    </div>

</section>